@font-face{
	font-family: asongforjennifer;
	src: url('../fonts/asongforjennifer.ttf');
}

.asongforjennifer{
	font-family: asongforjennifer;
}

html{
	overflow-x: hidden;
}
html, body{
	height: 100%;
	min-height: 100%;
}

a { color: inherit; } 

.head{
	background-image:	url('../img/background.jpg');
	background-size: auto;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.main{
	margin: auto;
}

.menu{
	width: 75%;
}

.content{
	min-height: 1200px;
}

.about{
	background-image: url('../img/about.jpg');
	background-size: cover;
}
.about-section{
	/**/
	background-color: #f0e7de;
	margin-top: 400px;
	border: 2px solid #bdc0c2;
	border-radius: 2px;
}

.menu-section{
	background-image: url('../img/ricepaper.png');
}
.menu-item{
	flex-grow: 1;
}

.menu-items h2{
	font-family: stencil;
}

.menu-items h3{
	text-decoration: underline;
	font-family: stencil;
}

.menu-items h4{
	margin-bottom: .1em;
	font-family: stencil;
}

.menu-items h5{
	margin-bottom: 1em;
	font-family: calibri;
}


.food-menu h4{
	margin-bottom: 1em;
	font-weight: bold;
}
.food-menu h5{
	margin-bottom: 2em;
}

.underlined{
	text-decoration: underline #bdc0c2;
}

.menu-header h2{
	cursor: pointer;
}

.img-gallery{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.img-gallery div{
	padding-left: 0 !important;
	padding-right: 0 !important;
}


.gallery-image{
	overflow: hidden;
	padding-bottom: 100%;
}

.gallery-image img{
	position: absolute;
	height: 100%;
	width: 100%;
}

.hours{
	background-color: #bdc0c2
}

.navlink:before{
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 5px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid magenta;
}

.nav-link{
	cursor: pointer;
}

.fill-1{
	flex-grow: 1;
}

.fill-1-2{
	flex-grow: 0.5;
}

.fill-2-5{
	flex-grow: 0.4;
}

.fill-1-3{
	flex-grow: 0.33;
}

.fill-2-3{
	flex-grow: 0.66;
}

.arrow-down{
	border: solid #404040;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 20px;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-wrapper{
	width: 100%;
}

.navmenu{

}

.divider{
	width:100%;
	height: 56px;
	background-color: #bdc0c2;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.12);
}

.nav-logo{
	display: none;
}

.nav-brand{
	position: absolute;
	float: left;
	left: 0;
	top: 0;
}
.navbar-brand{
	padding-bottom: 35px;
}
.mobile-only .navbar{
	background-color: #bdc0c2;
}
.footer{
	min-height: 150px;
	padding: 0px 15px;
	width: 100%;
}


/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.yelp span {
	background-color: #d32323;
}
.facebook span {
	background-color: #3B5998;
}
.instagram span {
/* background-color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
*/
background-color: #d6249f;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-yelp {
	color: #d32323;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-instagram {
	color: #d6249f;
}
.icon-button:hover .icon-yelp,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram {
	color: white;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 10;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media only screen and (min-width: 1200px){
	.mobile-only{
		display: none !important;
	}
	.sticky {
  		position: fixed;
		top: 0;
		margin-top: 0% !important;
		width: 100%;
		min-width: 100%;
		display: flex;
		justify-content: center;
		z-index: 1000;
		/*background-color: grey;*/
	}

	.nav-bg .nav-logo{
		display: block !important;
		position: absolute;
		float: left;
		left: 0;
		top: 0;
	}

	.nav-bg{
		background-color: #bdc0c2;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	@media (min-width: 1200px){

	}
	@media (min-width: 992px){

	}
}